<ul class="uk-iconnav uk-margin-left">
    <a href="/home" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="far fa-edit fa-3x" style="color:pink" title="Suggest" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/report" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-th-list fa-3x" style="color:hotpink" title="Report" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/logout" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-sign-out-alt fa-3x" style="color:goldenrod" title="Logout" pos="bottom" uk-tooltip></i>
    </a>
</ul>