<h1 class="uk-heading-line uk-text-center"><span>Walking Locations:</span></h1>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
        <img width="300" src="images/tramore.jpg" />
    </div>
    <div class="uk-width-expand@m">
        <h3 class="uk-heading-small">Tramore Beach</h3>
    </div>
</div>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
        <h3 class="uk-heading-small">Donerail Walk, Tramore </h3>
    </div>
    <div class="uk-width-auto@m">
        <img width="300" src="images/donerail.jpg" />
    </div>
</div>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
        <img width="300" src="images/dunmore.jpg" />
    </div>
    <div class="uk-width-expand@m">
        <h3 class="uk-heading-small">Dunmore East Cliff Walk</h3>
    </div>
</div>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
        <h3 class="uk-heading-small">Greenway, Carriganore </h3>
    </div>
    <div class="uk-width-auto@m">
        <img width="300" src="images/greenway.jpg" />
    </div>
</div>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
        <img width="300" src="images/naturepark.jpg" />
    </div>
    <div class="uk-width-expand@m">
        <h3 class="uk-heading-small">Nature Park, Kilbarry</h3>
    </div>
</div>

<div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-expand@m">
        <h3 class="uk-heading-small">Waterford Quays </h3>
    </div>
    <div class="uk-width-auto@m">
        <img width="300" src="images/quay.jpg" />
    </div>
</div>